<!DOCTYPE html>
<html lang="en" ng-app="dishifyApp">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="css/style.css" rel="stylesheet"> -->
  </head>
  <body>
    <h1>Dishly Home Page</h1>
    <h2>Recipes</h2>
    <ul ng-controller="RecipeListController">
      <li>{{recipe}}</li>
    </ul>
    <script src="bower_components/angular/angular.js"></script>
    <script src="controllers/recipe-list.controller.js"></script>
  </body>
</html>